<section class="container-variant container-variant--voltmeter" data-selector="{{ product.metafields.custom.channel }}:">

  <p class="container-variant__label">Channels:</p>

  <div class="container-variant__content">

    {% assign productId = product.id %}
    {% assign sorted_variants = product.metafields.custom.channel_variants.value %}
    
    {% for product_object in sorted_variants %}  
    
      {% assign variantId = product_object.id %}
      {% assign url = product_object.url %}
      {% assign channel = product_object.metafields.custom.channel %}
      {% assign productAvailable = product_object.available %}
    
      {% if productId == variantId %}
        <div data-id="{{ productId }}" data-details="{{ channel }}" class="label-variant label-variant--select {% if productAvailable == false %}label-variant--sold-out{% endif %}">
          <div class="label-variant__element">
            <div class="label-variant__value">
              <span>{{ channel }}</span>
            </div>
          </div>
        </div>
      {% else %}
        <button data-id="{{ variantId }}" data-details="{{ channel }}" class="label-variant {% if productAvailable == false %}label-variant--sold-out{% endif %}">
          <div class="label-variant__element">
            <div class="label-variant__value">
              <span>{{ channel }}</span>
            </div>
          </div>
        </button>
    
      {% endif %}
    
    {% endfor %}
    
  </div>
  
</section>