<section class="container-variant container-variant--color" data-selector="{{ product.metafields.custom.color_name }}:">

  <p class="container-variant__label">Color:</p>

  <div class="container-variant__content">

    {% assign productId = product.id %}
    {% assign sorted_variants = product.metafields.custom.color_variants.value | sort: 'title' %}
    
    {% for product_object in sorted_variants %}  
    
      {% assign variantId = product_object.id %}
      {% assign url = product_object.url %}
      {% assign colorPicker = product_object.metafields.custom.color_picker %}
      {% assign colorImage = product_object.metafields.custom.color_image %}
      {% assign productAvailable = product_object.available %}

    
      {% if productId == variantId %}
        {% if colorImage != Blank %}
          <div data-id="{{ productId }}" data-details="{{ product_object.metafields.custom.color_name }}" class="label-variant label-variant--select {% if productAvailable == false %}label-variant--sold-out{% endif %}">
            <div class="label-variant__element">
              <div class="label-variant__value" style="background: url('{{ colorImage | img_url: '100x' }}')"></div>
            </div>
          </div>
        {% else %}
          <div data-id="{{ productId }}" data-details="{{ product_object.metafields.custom.color_name }}" class="label-variant label-variant--select {% if productAvailable == false %}label-variant--sold-out{% endif %}">
            <div class="label-variant__element">
              <div class="label-variant__value" style="background: {{ colorPicker }}"></div>
            </div>
          </div>
        {% endif %}
      {% else %}
        {% if colorImage != Blank %}
          <button data-id="{{ variantId }}" data-details="{{ product_object.metafields.custom.color_name }}" class="label-variant {% if productAvailable == false %}label-variant--sold-out{% endif %}">
            <div class="label-variant__element">
              <div class="label-variant__value" style="background: url('{{ colorImage | img_url: '100x' }}')"></div>
            </div>
          </button>
        {% else %}
          <button data-id="{{ variantId }}" data-details="{{ product_object.metafields.custom.color_name }}" class="label-variant {% if productAvailable == false %}label-variant--sold-out{% endif %}">
            <div class="label-variant__element">
              <div class="label-variant__value" style="background: {{ colorPicker }}"></div>
            </div>
          </button>
        {% endif %}
      {% endif %}
    
    {% endfor %}
    
  </div>
  
</section>