<ul>
{% for item in product.metafields["custom_fields"]["product_gallery"].value %}
      {% assign type = item.value.media_type %}
      {% case type %}
        {% when "image" %}
          {{ item.value | image_url: width: 500 | image_tag }}
        {% when "video" %}
          {{ item.value | video_tag: image_size: "500x", width: 500, autoplay: false, controls: true }}
        {% else %}
          {% assign file_url = item.value.url %}
          <Li>
          <a target="_blank" href="{{ file_url }}">{{ item | media_tag: image_size: "200x" }}</a>
          <div>{{ file_url | split: '/' | last | split: '?v=' | first }}</div>
          </Li>
      {% endcase %}
{% endfor %}
</ul>
