<section class="section {% unless blends_with_background %}section--flush{% endunless %}">
  <div class="section__color-wrapper {% unless blends_with_background %}vertical-breather{% endunless %}">
      <header class="section__header container text-container">
        <h3 class="heading h2">Gallery</h3>
      </header>
    
    {% assign image_count = article.metafields.custom.gallery.value | size %}
    
    <gallery-list class="gallery">
      <scrollable-content class="gallery__list-wrapper {% if image_count >= 3 %}is-scrollable{% endif %} hide-scrollbar">
        <div class="container">
          <div class="gallery__list">

            {% for image in article.metafields.custom.gallery.value %}
              <gallery-item class="gallery__item">
                <figure class="gallery__figure">
                    {%- assign mobile_size = 370 | times: image.aspect_ratio | ceil -%}
                    {%- assign tablet_size = 520 | times: image.aspect_ratio | ceil -%}
                    {%- assign desktop_size = 600 | times: image.aspect_ratio | ceil -%}
                    <img loading="lazy" sizes="(max-width: 740px) {{ mobile_size }}px, (max-width: 999px) {{ tablet_size }}px, {{ desktop_size }}px" class="gallery__image" {% render 'image-attributes', image: image, sizes: '300,400,500,600,700,800,900,1000,1100,1200,1300,1400,1500,1600,1700,1800,1900,2000' %}>
                </figure>
              </gallery-item>
            {% endfor %}
            
          </div>
        </div>
      </scrollable-content>

      {%- if image_count > 1 -%}
        <prev-next-buttons class="gallery__prev-next-buttons prev-next-buttons">
          <button class="gallery__arrow prev-next-button prev-next-button--prev">
            <span class="visually-hidden">{{ 'general.accessibility.previous' | t }}</span>
            {%- include 'icon' with 'nav-arrow-left', direction_aware: true -%}
          </button>

          <button class="gallery__arrow prev-next-button prev-next-button--next">
            <span class="visually-hidden">{{ 'general.accessibility.next' | t }}</span>
            {%- include 'icon' with 'nav-arrow-right', direction_aware: true -%}
          </button>
        </prev-next-buttons>
      {% endif %}

      <div class="gallery__progress-bar-wrapper container">
        <span class="gallery__progress-bar progress-bar" style="--divider: {{ image_count }}"></span>
      </div>
    </gallery-list>
  </div>
</section>