{% if product.metafields.custom.nvy_image_for_banner_4_1 %}

  <div class="imagen-with-text-nvy imagen-with-text-nvy--reverse imagen-with-text-nvy--4-1">
    <div class="imagen-with-text-nvy__container">
      <div class="imagen-with-text-nvy__imagen">
          <img class="show-in-mobile" src="{{ product.metafields.custom.nvy_image_for_banner_3_1_mobile | image_url: width: 1500 }}">
          <img class="show-in-desktop" src="{{ product.metafields.custom.nvy_image_for_banner_4_1 | image_url: width: 1500 }}">
      </div>
      <div class="imagen-with-text-nvy__details">

        <div class="container-images">
          {% if product.metafields.custom.nvy_icons_for_banner_4_1 != blank %}
            {% for image in product.metafields.custom.nvy_icons_for_banner_4_1.value %}
              <img src="{{ image | image_url: width: 150 }}">
            {% endfor %}
          {% endif %}
        </div>
        
        <h5>{{ product.metafields.custom.nvy_title_for_banner_4_1 }}</h5>
        <p>{{ product.metafields.custom.nvy_text_for_banner_4_1 }}</p>

      </div>
    </div>
  </div>

{% endif %}





{% if product.metafields.custom.nvy_overview_end_banner_imagen %}

  <div class="imagen-with-text-nvy imagen-with-text-nvy--4-0 {% unless product.metafields.custom.nvy_app_banner_desktop %}imagen-with-text-nvy--not-padding{% endunless %}">
    <div class="imagen-with-text-nvy__container">
      <div class="imagen-with-text-nvy__imagen">
        <img class="show-in-mobile" src="{{ product.metafields.custom.nvy_image_for_banner_4_mobile | image_url: width: 1500 }}">
        <img class="show-in-desktop" src="{{ product.metafields.custom.nvy_overview_end_banner_imagen | image_url: width: 1500 }}">
      </div>
      <div class="imagen-with-text-nvy__details">

        <h5>{{ product.metafields.custom.nvy_overview_end_banner_heading }}</h5>
        <p>{{ product.metafields.custom.nvy_overview_end_banner_content }}</p>

        <div class="container-images">
          {% if product.metafields.custom.nvy_icons_for_banner_4 != blank %}
            {% for image in product.metafields.custom.nvy_icons_for_banner_4.value %}
              <img src="{{ image | image_url: width: 100 }}">
            {% endfor %}
          {% endif %}
        </div>
  
      </div>
    </div>
  </div>

{% endif %}