{{ 'styles-tap-nvy.css' | asset_url | stylesheet_tag }}

{% assign new_template = false %}
{% if product.template_suffix == 'new-template' or product.template_suffix == 'new-nvy-template' or product.template_suffix == 'product-with-variants' %}
  {% assign new_template = true %}
{% endif %}

{% if product.metafields.custom.nvy_hidden_field_3_in_mobile == true %}
  <style>
    @media only screen and (max-width: 768px){
        .app-section-nvy {
            display: none!important
        }
    }
  </style>
{% endif %}


{% if product.metafields.custom.nvy_hidden_field_4_in_mobile == true %}
  <style>
    @media only screen and (max-width: 768px){
        .imagen-with-text-nvy.imagen-with-text-nvy--4-0 {
            display: none!important
        }
    }
  </style>
{% endif %}


{% if product.metafields.custom.nvy_hidden_field_4_1_in_mobile == true %}
  <style>
    @media only screen and (max-width: 768px){
        .imagen-with-text-nvy.imagen-with-text-nvy--4-1 {
            display: none!important
        }
    }
  </style>
{% endif %}




<h1>
  {{ product.metafields.custom.nvy_hidden_field_3_in_mobile }}
</h1>


<div class="main-taps__container main-taps__container--{{ section.id }}">

  <div class="main-taps__container-buttons">
    {% for block in section.blocks %}
        <button {{ block.shopify_attributes }} class="button-tap button-tap--{{ block.settings.button | handleize }}" data-button="{{ forloop.index }}">
          {{ block.settings.button }}
        </button>
    {% endfor %}
  </div>

  <div class="main-taps__container-taps">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'overview' %}
        
          <div {{ block.shopify_attributes }} id="tabs-{{ forloop.index }}" class="main-taps__container main-taps__container--global main-taps__container--{{ block.settings.button | handleize }}">  

            <div class="main-taps__container--general">

              {% if block.settings.background_imagen_mobile and block.settings.background_imagen_desktop  %}
                {% render 'banner-overview-nvy',
                   backgroundMobile: block.settings.background_imagen_mobile,
                   backgroundDesktop: block.settings.background_imagen_desktop,
                   content: block.settings.content,
                   imagenProduct: block.settings.product_imagen,
                   alignment: block.settings.imagen_alignment
                %}
              {% endif %}

              {% if new_template %}
                {% comment %} {% if product.selected_or_first_available_variant.metafields.custom.overview_section_2_heading %} {% endcomment %}
                  {% render 'parallax-section', product: product %}
                {% comment %} {% endif %} {% endcomment %}
              {% else %}
                {% if product.metafields.custom.nvy_overview_parallax_heading or
                    product.metafields.custom.nvy_overview_parallax_content or
                    product.metafields.custom.nvy_overview_parallax_imagen %}
                {% render 'parallax-section', product: product %}
              {% endif %}
              {% endif %}
  
              
  
              {% render 'app-section-nvy', product: product %}
              {% render 'imagen-with-text-nvy', product: product %}
        
            </div>
            
          </div>

        {% when 'specifications' %}

          <div {{ block.shopify_attributes }} id="tabs-{{ forloop.index }}" class="main-taps__container main-taps__container--global main-taps__container--{{ block.settings.button | handleize }}">  

            <div class="main-taps__container--general">

              {% if new_template %}
                {% assign hiddenClass = "" %}
                {% unless product.selected_or_first_available_variant.metafields.custom.user_manual %}
                  {% assign hiddenClass = "hidden" %}
                {% endunless %}
                <div class="main-taps__container--item main-taps__container-manual {{ hiddenClass }}">
                    <p>
                      <a href="{{ product.selected_or_first_available_variant.metafields.custom.user_manual.value.url }}" target="_blank">
                        {% render 'icon', icon: 'download' %}
                        <span>DOWNLOAD THE USER MANUAL</span>
                      </a>
                    </p>
                </div>

                {% assign hiddenClass = "" %}
                {% unless product.selected_or_first_available_variant.metafields.custom.technical_data_manual %}
                  {% assign hiddenClass = "hidden" %}
                {% endunless %}
                <div class="main-taps__container--item main-taps__container-specifications {{ hiddenClass }}">
                  <div>
                    {{ product.selected_or_first_available_variant.metafields.custom.technical_data_manual | metafield_tag }}
                  </div>
                </div>
              {% else %}
                {% if product.metafields.custom.manual %}
                  <div class="main-taps__container--item main-taps__container-manual">
                    <p>
                      <a href="{{ product.metafields.custom.manual.value.url }}" target="_blank">
                        {% render 'icon', icon: 'download' %}
                        <span>DOWNLOAD THE USER MANUAL</span>
                      </a>
                    </p>
                  </div>
                {% endif %}

                {% if block.settings.specifications %}
                  <div class="main-taps__container--item main-taps__container-specifications">
                    <div>{{ block.settings.specifications }}</div>
                  </div>
                {% endif %}
              {% endif %}
            </div>

          </div>

        {% when 'related_products' %}

          {% comment %} related products {% endcomment %}
          <div {{ block.shopify_attributes }} id="tabs-{{ forloop.index }}" class="main-taps__container main-taps__container--global main-taps__container--{{ block.settings.button | handleize }}">  
            <div class="main-taps__container--general" style="width: 100%;">
          <product-recommendations section-id="{{ section.id }}" intent="related" product-id="{{ product.id }}" recommendations-count="{{ section.settings.recommendations_count }}" class="section {% unless blends_with_background %}section--flush{% endunless %}">
            {%- if product.selected_or_first_available_variant.metafields.custom.related_products.value != blank -%}
              <div class="section__color-wrapper">
                <div class="container">
                  <header class="section__header">
                    <div class="text-container">
                      <h3 class="heading h3" style="text-align: center;">RELATED PRODUCTS</h3>
                    </div>
                  </header>
          
                  <product-list {% if settings.stagger_products_apparition %}stagger-apparition{% endif %} class="product-list product-list--center">
                    {%- assign smallest_image_aspect_ratio = 0 -%}
          
                    <div class="scroller">
                      <div class="product-list__inner product-list__inner--scroller hide-scrollbar">
          
                        {%- assign display_products = product.selected_or_first_available_variant.metafields.custom.related_products.value -%}
                        
                        {%- for product in display_products -%}
                          {%- assign smallest_image_aspect_ratio = smallest_image_aspect_ratio | at_least: product.featured_media.aspect_ratio -%}
          
                          {%- capture sizes_attribute -%}(max-width: 740px) 75vw, min({{ 100.0 | divided_by: 4 | ceil }}vw, {{ 1520.0 | divided_by: 4 | ceil }}px){%- endcapture -%}
                          {%- render 'product-item', product: product, sizes_attribute: sizes_attribute, reveal: settings.stagger_products_apparition -%}
                        {%- endfor -%}
                      </div>
                    </div>
          
                    
                      <prev-next-buttons class="product-list__prev-next hidden-pocket" style="--smallest-image-aspect-ratio: {{ smallest_image_aspect_ratio }}">
                        <button class="product-list__arrow prev-next-button prev-next-button--prev" disabled data-action="prev">
                          <span class="visually-hidden">{{ 'general.accessibility.previous' | t }}</span>
                          {%- include 'icon' with 'nav-arrow-left', block: true, direction_aware: true -%}
                        </button>
          
                        <button class="product-list__arrow prev-next-button prev-next-button--next" data-action="next">
                          <span class="visually-hidden">{{ 'general.accessibility.next' | t }}</span>
                          {%- include 'icon' with 'nav-arrow-right', block: true, direction_aware: true -%}
                        </button>
                      </prev-next-buttons>
                    
                  </product-list>
                </div>
              </div>
            {%- endif -%}
          </product-recommendations>
          </div>
          </div>

          {% comment %} recommended products {% endcomment %}
          {% comment %} <div {{ block.shopify_attributes }} id="tabs-{{ forloop.index }}" class="main-taps__container main-taps__container--global main-taps__container--{{ block.settings.button | handleize }}">  
            <div class="main-taps__container--general" style="width: 100%;">
              <product-recommendations section-id="{{ section.id }}" intent="related" product-id="{{ product.id }}" recommendations-count="{{ section.settings.recommendations_count }}" class="section {% unless blends_with_background %}section--flush{% endunless %}">
                {%- if recommendations.performed and recommendations.products.size > 0 -%}
                  <div class="section__color-wrapper">
                    <div class="container">
                        <header class="section__header">
                          <div class="text-container">
                            <h3 class="heading h3">YOU MAY ALSO LIKE</h3>
                          </div>
                        </header>
              
                      <product-list {% if settings.stagger_products_apparition %}stagger-apparition{% endif %} class="product-list product-list--center">
                        {%- assign smallest_image_aspect_ratio = 0 -%}
              
                        <div class="scroller">
                          <div class="product-list__inner product-list__inner--scroller hide-scrollbar">
              
                            {%- assign display_products = product.metafields["custom_fields"]["you_may_also_like"].value -%}
              
                            {%- if display_products == blank -%}
                              
                            {%- assign display_products = recommendations.products -%}
                            {%- endif -%}
                              
                            
                            {%- for product in display_products -%}
                              {%- assign smallest_image_aspect_ratio = smallest_image_aspect_ratio | at_least: product.featured_media.aspect_ratio -%}
              
                              {%- capture sizes_attribute -%}(max-width: 740px) 75vw, min({{ 100.0 | divided_by: 4 | ceil }}vw, {{ 1520.0 | divided_by: 4 | ceil }}px){%- endcapture -%}
                              {%- render 'product-item', product: product, sizes_attribute: sizes_attribute, reveal: settings.stagger_products_apparition -%}
                            {%- endfor -%}
                          </div>
                        </div>
              
                        
                          <prev-next-buttons class="product-list__prev-next hidden-pocket" style="--smallest-image-aspect-ratio: {{ smallest_image_aspect_ratio }}">
                            <button class="product-list__arrow prev-next-button prev-next-button--prev" disabled data-action="prev">
                              <span class="visually-hidden">{{ 'general.accessibility.previous' | t }}</span>
                              {%- include 'icon' with 'nav-arrow-left', block: true, direction_aware: true -%}
                            </button>
              
                            <button class="product-list__arrow prev-next-button prev-next-button--next" data-action="next">
                              <span class="visually-hidden">{{ 'general.accessibility.next' | t }}</span>
                              {%- include 'icon' with 'nav-arrow-right', block: true, direction_aware: true -%}
                            </button>
                          </prev-next-buttons>
                        
                      </product-list>
                    </div>
                  </div>
                {%- endif -%}
              </product-recommendations>
            </div>
          </div> {% endcomment %}
      
        {% when 'reviews' %}  
          <div {{ block.shopify_attributes }} id="tabs-{{ forloop.index }}" class="main-taps__container main-taps__container--global main-taps__container--{{ block.settings.button | handleize }}">  
            <div class="main-taps__container--general container" style="width: 100%;">
              <!-- Start of Judge.me code -->{% assign has_legacy = false %}{% if product.metafields.judgeme.widget.size > 20 %}{% assign has_legacy = true %}{% endif %}<div style='clear:both'></div><div id='judgeme_product_reviews' class='jdgm-widget jdgm-review-widget' data-product-title='{{ product.title | escape }}' data-id='{{ product.id }}' data-product-id='{{ product.id }}' data-widget='review' data-auto-install='false' data-shop-reviews-count='{{ shop.metafields.judgeme.shop_reviews_count | default: 0 | escape }}' data-entry-point='review_widget.js' data-entry-key='review-widget/main.js'>{% if has_legacy %}<div class='jdgm-legacy-widget-content' style='display: none;'>{{ product.metafields.judgeme.widget }}</div>{% endif %}</div>{% if product.metafields.judgeme.review_widget_data %}<script>jdgm.data ||= {}; jdgm.data.reviewWidget ||= {}; jdgm.data.reviewWidget[{{ product.id }}] = {{ product.metafields.judgeme.review_widget_data }}</script>{% endif %}<!-- End of Judge.me code -->
            </div>
          </div>
      {% endcase %}
    {% endfor %}
  </div>
  
</div>

<script>

  $(document).ready(function(){
    $('.main-taps__container--{{ section.id }} .main-taps__container-buttons button.button-tap').first().addClass('active-button');
    $('.main-taps__container--{{ section.id }} .main-taps__container-taps .main-taps__container--global').hide();
    $('.main-taps__container--{{ section.id }} .main-taps__container-taps .main-taps__container--global').first().show();
  });

  $('.main-taps__container--{{ section.id }} .main-taps__container-buttons button.button-tap').click(function(){
    var number = $(this).attr('data-button');
    $('.main-taps__container--{{ section.id }} .main-taps__container-buttons button.button-tap').removeClass('active-button');
    $(this).addClass('active-button');
    $('.main-taps__container--{{ section.id }} .main-taps__container-taps .main-taps__container--global').hide();
    $('.main-taps__container--{{ section.id }} .main-taps__container-taps .main-taps__container--global#tabs-' + number).show();
  });
  
</script>

{% schema %}
  {
    "name": "Taps NVY",
    "class": "main-taps",
    "tag": "section",
    "blocks": [
      {
        "name": "Overview",
        "type": "overview",
        "settings": [
          {
            "type": "header",
            "content": "TAPS"
          },
          {
            "type": "text",
            "id": "button",
            "label": "Button"
          },
          {
            "type": "header",
            "content": "BANNER OVERVIEW"
          },
          {
            "type": "image_picker",
            "id": "background_imagen_mobile",
            "label": "Background Mobile"
          },
          {
            "type": "image_picker",
            "id": "background_imagen_desktop",
            "label": "Background Desktop"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "image_picker",
            "id": "product_imagen",
            "label": "Product Imagen"
          },
          {
            "type": "text",
            "id": "imagen_alignment",
            "label": "Imagen Alignment"
          }
        ]
      },
      {
        "name": "Specifications & Manual",
        "type": "specifications",
        "settings": [
          {
            "type": "header",
            "content": "TAPS"
          },
          {
            "type": "text",
            "id": "button",
            "label": "Button"
          },
          {
            "type": "header",
            "content": "SPECIFICATIONS"
          },
          {
            "type": "richtext",
            "id": "specifications",
            "label": "Specifications"
          }
        ]
      },
      {
        "name": "Related Products",
        "type": "related_products",
        "settings": [
          {
            "type": "header",
            "content": "TAPS"
          },
          {
            "type": "text",
            "id": "button",
            "label": "Button"
          },
          {
            "type": "header",
            "content": "RELATED PRODUCTS"
          }
        ]
      },
      {
        "name": "Reviews",
        "type": "reviews",
        "settings": [
          {
            "type": "header",
            "content": "TAPS"
          },
          {
            "type": "text",
            "id": "button",
            "label": "Button"
          },
          {
            "type": "header",
            "content": "REVIEWS"
          }
        ]
      }
	],
  	"presets": [
      {
        "name": "Taps NVY",
        "category": "Custom"
      }
    ]
  }
{% endschema %}