{{ 'styles-nvy-categories-v2.css' | asset_url | stylesheet_tag }}

<div class="categories-nvy-v2__container">

  {% if section.settings.heading != blank %}
    <h3 class="heading">{{ section.settings.heading }}</h3>
  {% endif %}

  <div class="categories-nvy-v2__content">
    {% for block in section.blocks %}
      <div class="categorie categorie--{{ forloop.index }}">
        <a href="{{ block.settings.link }}">
          <div class="categorie-imagen">
            <img src="{{ block.settings.imagen | img_url: 'master' }}">
          </div>
          <div class="categorie-details">
            <p class="categorie-name">{{ block.settings.categorie_name }}</p>
            <span class="categorie-button">{{ block.settings.categorie_button }}</span>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
  
</div>

{% schema %}
  {
    "name": "NVY Categories V.2.0",
    "class": "categories-nvy-v2",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      }
    ],
    "blocks": [
      {
        "name": "Categorie",
        "type": "categorie",
        "settings": [
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "image_picker",
            "id": "imagen",
            "label": "Imagen"
          },
          {
            "type": "text",
            "id": "categorie_name",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "categorie_button",
            "label": "Button"
          }
        ]
      }
  	],
  	"presets": [
      {
        "name": "NVY Categories V.2.0",
        "category": "Custom"
      }
    ]
  }
{% endschema %}